<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        
        <ion-buttons slot="end">
          <ion-button expand="full" (click)="toggleLanguage()">
            {{ 'CHANGE_LANG' | translate }}
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
          <ion-item [routerLink]="p.url" routerDirection="root">
            <ion-icon [name]="p.icon" slot="start"></ion-icon>
            <ion-label>{{ p.title | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
