<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'ORDER_HISTORY' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/cart" fill="clear">
        <ion-icon slot="start" name="cart-outline"></ion-icon>
        {{ 'GO_TO_CART' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-spinner *ngIf="loading"></ion-spinner>

  <ion-list *ngIf="orders.length > 0">
    <ion-item *ngFor="let order of orders">
      <ion-label>
        <h2>{{ 'DATE' | translate }}: {{ order.date.toDate() | date:'short' }}</h2>
        <p>{{ 'TOTAL' | translate }}: {{ order.total | number:'1.2-2' }} €</p>
        <p>{{ 'PRODUCTS' | translate }}:</p>
        <ul>
          <li *ngFor="let item of order.items">
            {{ item.title }} (x{{ item.quantity }}) - {{ item.price }} €
          </li>
        </ul>
      </ion-label>
      <ion-button expand="block" fill="outline" color="success" (click)="repeatOrder(order)">
        🔁 {{ 'REPEAT_ORDER' | translate }}
      </ion-button>
    </ion-item>
  </ion-list>

  <p *ngIf="!loading && orders.length === 0">{{ 'NO_ORDERS' | translate }}</p>
</ion-content>
