<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ιστορικό Αγορών</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-spinner *ngIf="loading"></ion-spinner>

  <ion-list *ngIf="orders.length > 0">
    <ion-item *ngFor="let order of orders">
      <ion-label>
        <h2>Ημερομηνία: {{ order.date.toDate() | date:'short' }}</h2>
        <p>Σύνολο: {{ order.total | number:'1.2-2' }} €</p>
        <p>Προϊόντα:</p>
        <ul>
          <li *ngFor="let item of order.items">
            {{ item.title }} (x{{ item.quantity }}) - {{ item.price }} €
          </li>
        </ul>
      </ion-label>
       <ion-button expand="block" fill="outline" color="success" (click)="repeatOrder(order)">
      🔁 Επανάλαβε Παραγγελία
    </ion-button>
    </ion-item>
  </ion-list>

  <p *ngIf="!loading && orders.length === 0">Δεν υπάρχουν παραγγελίες.</p>
</ion-content>
