<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Αρχική</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="isLoggedIn; else notLoggedIn">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Καλώς ήρθες, {{ userEmail }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" color="danger" (click)="logout()">Αποσύνδεση</ion-button>
        <ion-button expand="block" routerLink="/order-history">Ιστορικό Αγορών</ion-button>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #notLoggedIn>
    <ion-button expand="block" color="primary" (click)="goToLogin()">Σύνδεση</ion-button>
    <ion-button expand="block" color="medium" (click)="goToRegister()">Εγγραφή</ion-button>
  </ng-template>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Κατηγορίες</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" color="tertiary" routerLink="/category/fresh">
              🥬 Φρέσκα τρόφιμα
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="block" color="tertiary" routerLink="/category/dairy">
              🧀 Γαλακτοκομικά
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" color="tertiary" routerLink="/category/frozen">
              ❄️ Κατεψυγμένα
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="block" color="tertiary" routerLink="/category/cleaning">
              🧽 Καθαριστικά
            </ion-button>
            <ion-button expand="full" routerLink="/product-list">
              Δες όλα τα προϊόντα 🛒
            </ion-button>
            <ion-button expand="full" routerLink=\>
              Δες τη λίστα επιθυμιών 💖
            </ion-button>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>